header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 25px;
    max-height: 10vh;
    z-index: 100;
}

.page-logo {
    color: var(--white);
    text-decoration: none;
    font-size: 32px;
    font-weight: 700;
    user-select: none;
}

.header-links {
    display: flex;
    justify-content: space-between;
    min-width: 150px;
}

.header-icon {
    color: var(--white);
    width: 32px;
    height: auto;
}

.header-icon:hover, .page-logo:hover {
    color: var(--green);
}

@media (max-width: 360px) {
    header {
        display: none;
    }
}